<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link href='http://fonts.useso.com/css?family=Raleway:400,800,500,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/common/css/normalize.css" />
	<script src="/static/common/js/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/common/css/ui-base.css">
	<link rel="stylesheet" type="text/css" href="/static/common/css/ui-box.css">
	<link rel="stylesheet" type="text/css" href="/static/common/css/ui-color.css">
	<link rel="stylesheet" type="text/css" href="/static/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/static/common/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <script src="/static/common/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header ub ub-ac"> 
		<div style="width:8%;"></div>
		<div style="-webkit-box-flex:1;display: -webkit-box;-moz-box-flex:1;display: -moz-box;-ms-flex:1;display: -ms-flexbox;">
			<div style="-webkit-box-flex:1;-moz-box-flex:1;-ms-flex:1;float:left;">
				<img src="/static/image/logo.png" style="height: 35px;">
			</div>
			<div class="ub ub-ac uc-a1 query-input">
                <div class="ub ub-ac ut-s" style="padding: 0.3em 0;">
                    <input type="text" style="outline: none;font-family: Arial, '微软雅黑', sans-serif;font-size:1em;border:none;margin-left:0.3em;" />
            	</div>
            </div>
			<div class="uc-a1 search">
				<button type="submit" class="btn-search">搜索</button>
			</div>
		</div>
		<div>
			<ul class="bc-border ub t-bla ub-pc zylj">
				<li><a href="/menu">首页</a></li>
				<li><a href="/boutiqueRoute">精品路线</a></li>
				<li><a href="/personalTailor">私人定制</a></li>
				<li><a href="/lshy">路尚会员</a></li>
				<li><a href="/aboutUs">关于我们</a></li>
			</ul>
		</div>
		<div style="width:8%;"></div>
	</div>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol><!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="/static/image/s_1.jpg" alt="新西兰南岛自驾" />
				<div class="carousel-caption istbg uc-a2">新西兰南岛自驾</div>
			</div>
			<div class="item">
				<img src="/static/image/s_2.jpg" alt="圣托尼里" />
				<div class="carousel-caption istbg uc-a2">圣托尼里</div>
			</div>
			<div class="item">
				<img src="/static/image/s_3.jpg" alt="中国九寨沟" />
				<div class="carousel-caption istbg uc-a2">中国九寨沟</div>
			</div>
		</div>
	</div>
	<div class="content ub ub-ac">
		<h2 class="title">浪漫旅程</h2>
		<div class="fgx">
			<div style="border-bottom: 1px solid #BEBEBE;height:10px;width:40%;float:left;"></div>
			<div class="title2 ub ub-pc"><img src="/static/image/title2.png"></div>
			<div style="border-bottom: 1px solid #BEBEBE;height:10px;width:40%;float:left;"></div>
		</div>
		<div class="jplx">
			<div class="grid" id="grid1">
				<!-- <figure class="effect-goliath">
					<img src="/static/image/23.jpg" alt="img23"/>
					<figcaption>
						<h2><span>北极圈冰雪体验之旅</span></h2>
						<div class="price ub ub-ac ub-pc">
							<div class="redbg ub ub-ac ub-pc">￥99999</div>
							<div class="ut-s" style="-webkit-box-flex: 1;-ms-flex:1;
	font-size: 1.5em;">北极圈冰雪体验之旅</div>
						</div>
						<a href="">View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-goliath">
					<img src="/static/image/24.jpg" alt="img24"/>
					<figcaption>
						<h2><span>普吉岛浪漫之旅</span></h2>
						<div class="price ub ub-ac ub-pc">
							<div class="redbg ub ub-ac ub-pc">￥99999</div>
							<div class="ut-s" style="-webkit-box-flex: 1;-ms-flex:1;
	font-size: 1.5em;">普吉岛浪漫之旅</div>
						</div>
						<a href="">View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-goliath">
					<img src="/static/image/25.jpg" alt="img24"/>
					<figcaption>
						<h2><span>马尔代夫七日游</span></h2>
						<div class="price ub ub-ac ub-pc">
							<div class="redbg ub ub-ac ub-pc">￥99999</div>
							<div class="ut-s" style="-webkit-box-flex: 1;-ms-flex:1;
	font-size: 1.5em;">马尔代夫七日游</div>
						</div>
						<a href="">View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-goliath">
					<img src="/static/image/26.jpg" alt="img24"/>
					<figcaption>
						<h2><span>九寨沟美景盛宴</span></h2>
						<div class="price ub ub-ac ub-pc">
							<div class="redbg ub ub-ac ub-pc">￥99999</div>
							<div class="ut-s" style="-webkit-box-flex: 1;-ms-flex:1;
	font-size: 1.5em;">九寨沟美景盛宴</div>
						</div>
						<a href="">View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-goliath">
					<img src="/static/image/27.jpg" alt="img24"/>
					<figcaption>
						<h2><span>三亚碧水蓝天</span></h2>
						<div class="price ub ub-ac ub-pc">
							<div class="redbg ub ub-ac ub-pc">￥99999</div>
							<div class="ut-s" style="-webkit-box-flex: 1;-ms-flex:1;
	font-size: 1.5em;">三亚碧水蓝天</div>
						</div>
						<a href="">View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-goliath">
					<img src="/static/image/28.jpg" alt="img24"/>
					<figcaption>
						<h2><span>云南乡土风情</span></h2>
						<div class="price ub ub-ac ub-pc">
							<div class="redbg ub ub-ac ub-pc">￥99999</div>
							<div class="ut-s" style="-webkit-box-flex: 1;-ms-flex:1;
	font-size: 1.5em;">云南乡土风情</div>
						</div>
						<a href="">View more</a>
					</figcaption>			
				</figure> -->
			</div>
		</div>
		<div class="more uc-a1">查看更多</div>
		<h2 class="title">旅程故事</h2>
		<div class="fgx">
			<div style="border-bottom: 1px solid #BEBEBE;height:10px;width:40%;float:left;"></div>
			<div class="title2 ub ub-pc"><img src="/static/image/title3.png"></div>
			<div style="border-bottom: 1px solid #BEBEBE;height:10px;width:40%;float:left;"></div>
		</div>
		<div class="jplx">
			<div class="grid" id="grid2">
				<!-- <figure class="effect-marley">
					<img src="/static/image/11.jpg" alt="img11"/>
					<figcaption>
						<h2><span>行与秋</span></h2>
						<p>要么旅行，要么读书，身体和灵魂，必须有一个在路上 秋天絮语 夏，不肯轻易离去；秋，已悄然而至；几日秋雨过后，忽觉，清爽、薄凉。静静地，漫步在如洗的阳光下，遥望浅蓝、清澈、明净的天空，心，轻灵而奔放，浅喜而明媚。</p>
						<a>View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-marley">
					<img src="/static/image/12.jpg" alt="img12"/>
					<figcaption>
						<h2><span>行与秋</span></h2>
						<p>要么旅行，要么读书，身体和灵魂，必须有一个在路上 秋天絮语 夏，不肯轻易离去；秋，已悄然而至；几日秋雨过后，忽觉，清爽、薄凉。静静地，漫步在如洗的阳光下，遥望浅蓝、清澈、明净的天空，心，轻灵而奔放，浅喜而明媚。</p>
						<a>View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-marley">
					<img src="/static/image/13.jpg" alt="img12"/>
					<figcaption>
						<h2><span>行与秋</span></h2>
						<p>要么旅行，要么读书，身体和灵魂，必须有一个在路上 秋天絮语 夏，不肯轻易离去；秋，已悄然而至；几日秋雨过后，忽觉，清爽、薄凉。静静地，漫步在如洗的阳光下，遥望浅蓝、清澈、明净的天空，心，轻灵而奔放，浅喜而明媚。</p>
						<a>View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-marley">
					<img src="/static/image/14.jpg" alt="img12"/>
					<figcaption>
						<h2><span>行与秋</span></h2>
						<p>要么旅行，要么读书，身体和灵魂，必须有一个在路上 秋天絮语 夏，不肯轻易离去；秋，已悄然而至；几日秋雨过后，忽觉，清爽、薄凉。静静地，漫步在如洗的阳光下，遥望浅蓝、清澈、明净的天空，心，轻灵而奔放，浅喜而明媚。</p>
						<a>View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-marley">
					<img src="/static/image/15.jpg" alt="img12"/>
					<figcaption>
						<h2><span>行与秋</span></h2>
						<p>要么旅行，要么读书，身体和灵魂，必须有一个在路上 秋天絮语 夏，不肯轻易离去；秋，已悄然而至；几日秋雨过后，忽觉，清爽、薄凉。静静地，漫步在如洗的阳光下，遥望浅蓝、清澈、明净的天空，心，轻灵而奔放，浅喜而明媚。</p>
						<a>View more</a>
					</figcaption>			
				</figure>
				<figure class="effect-marley">
					<img src="/static/image/16.jpg" alt="img12"/>
					<figcaption>
						<h2><span>行与秋</span></h2>
						<p>要么旅行，要么读书，身体和灵魂，必须有一个在路上 秋天絮语 夏，不肯轻易离去；秋，已悄然而至；几日秋雨过后，忽觉，清爽、薄凉。静静地，漫步在如洗的阳光下，遥望浅蓝、清澈、明净的天空，心，轻灵而奔放，浅喜而明媚。</p>
						<a>View more</a>
					</figcaption>			
				</figure> -->
			</div>
		</div>
	</div>
	<div class="tianchong"></div>
	<div class="footer ub ub-ac">
		<div class="link-footer" >
         	<h4>友情链接 LINK</h4>
         	<a href="http://www.woqu.com" class="link_a">我趣旅行网</a>
         	<a href="http://www.qyer.com" class="link_a">穷游网</a>
         	<a href="http://www.kdhcn.com" class="link_a">康定红葡萄酒</a>
         	<a href="http://vacations.ctrip.com/" class="link_a">携程旅游</a>
         	<a href="http://www.lotour.com/" class="link_a">乐途旅游</a>
         	<a href="http://www.tuniu.com/?p=1558&amp;utm_source=baidu&" class="link_a">途牛旅游网</a>
         	<a href="http://www.mangocity.com/" class="link_a">芒果网</a>
         	<a href="http://www.mafengwo.cn" class="link_a">马蜂窝旅游网</a>
         	<a href="http://www.autohome.com.cn/" class="link_a">汽车之家</a>        

        	<div class="end_line"></div>
        	<p>版权所有路尚旅游 © 2015-2017蜀ICP备14005513号</p>
    	</div>
	</div>
</body>
<script type="text/javascript" language="javascript">
	$(function(){
		$('.carousel').carousel();
	});
	$(function(){
		$(window).scroll(function(){
	    	if($(this).scrollTop()>100){
	    		$(".header").css({position:"fixed","z-index":"99999"});
	    	}else{
	    		$(".header").css({"position":"relative"});
	    	}
		});
	});
	$(document).ready(function(){
		createHtml();
		createHtmlMsg();
		listener();
	});
	function listener(){
		$(".effect-goliath").on("click",function(){
			var menu_id = $(this).attr("menu_id");
			location.href = "/routeDetails/"+menu_id;
		});
	}
	function createHtml(){
		var html = "";
		var list = {{ menu_list|safe }};
		for (var i = 0; i < list.length; i++) {
			var item = list[i];
			html += '<figure class="effect-goliath" menu_id="' + item.menu_id + '">';
			html += '<img src="/static/image/'+ item.pic_address +'" alt="..."/>';
			html += '<figcaption>';
			html += '<h2><span>'+ item.name +'</span></h2>';
			html += '<div class="price ub ub-ac ub-pc">';
			html += '<div class="redbg ub ub-ac ub-pc">￥'+ item.price +'</div>';	
			html += '<div class="ut-s" style="-webkit-box-flex: 1;-ms-flex:1;font-size: 1.5em;">'+ item.name +'</div>';
			html += '</div>';
			html += '</figcaption></figure>';
		}
		$("#grid1").append(html);
	}
	function createHtmlMsg(){
		var html = "";
		var list = {{ message_list|safe }};
		for (var i = 0; i < list.length; i++) {
			var item = list[i];
			html += '<figure class="effect-marley">';
			html += '<img src="/static/image/'+(i+1)+'.jpg" alt="...."/>';
			html += '<figcaption>';
			html += '<h2><span>' + item.title + '</span></h2>';
			html += '<p>' + item.content + '</p>';
			html += '</figcaption></figure>';
		}
		$("#grid2").append(html);
	}
</script>
</html>