<!DOCTYPE html>
<html>
<head>
	<title>私人订制</title>
	<meta charset="utf-8">
	<script src="../common/js/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../common/css/ui-base.css">
	<link rel="stylesheet" type="text/css" href="../common/css/ui-box.css">
	<link rel="stylesheet" type="text/css" href="../common/css/ui-color.css">
	<link rel="stylesheet" type="text/css" href="../css/personalTailor.css">
	<link rel="stylesheet" type="text/css" href="../common/css/bootstrap.min.css">
    <script src="../common/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header ub ub-ac"> 
		<div style="width:8%;"></div>
		<div style="-webkit-box-flex:1;display: -webkit-box;-moz-box-flex:1;display: -moz-box;-ms-flex:1;display: -ms-flexbox;">
			<div style="-webkit-box-flex:1;-moz-box-flex:1;-ms-flex:1;float:left;"></div>
			<div class="ub ub-ac uc-a1 query-input">
                <div class="ub ub-ac ut-s" style="padding: 0.3em 0;">
                    <input type="text" style="outline: none;font-family: Arial, '微软雅黑', sans-serif;font-size:1em;border:none;margin-left:0.3em;" />
            	</div>
            </div>
			<div class="uc-a1 search">
				<button type="submit" class="btn-search">搜索</button>
			</div>
		</div>
		<div>
			<ul class="bc-border ub t-bla ub-pc zylj">
				<li><a href="menu.html">首页</a></li>
				<li><a href="personalTailor.html">私人定制</a></li>
				<li><a href="">路尚会员</a></li>
				<li><a href="aboutUs.html">关于我们</a></li>
			</ul>
		</div>
		<div style="width:8%;"></div>
	</div>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol><!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="../../image/s_1.jpg" alt="新西兰南岛自驾" />
				<div class="carousel-caption istbg uc-a2">新西兰南岛自驾</div>
			</div>
			<div class="item">
				<img src="../../image/s_2.jpg" alt="圣托尼里" />
				<div class="carousel-caption istbg uc-a2">圣托尼里</div>
			</div>
			<div class="item">
				<img src="../../image/s_3.jpg" alt="中国九寨沟" />
				<div class="carousel-caption istbg uc-a2">中国九寨沟</div>
			</div>
		</div>
	</div>
	<div class="position">当前位置：首页<私人定制</div>
	<div class="content">
		<div class="bg-img ub ub-ac ub-pc">
			<div class="dzTable ub ub-pc ub-ac">
				<h1 class="title">定制属于自己的旅行</h1>
				<div style="font-size: 1.5em;">——&nbsp;&nbsp;享受不一样的一切&nbsp;&nbsp;——</div>
				<div style="margin:1em 0;">
					<div class="ub ub-ac uc-a1 query-input">
		                <div class="ub ub-ac ut-s" style="padding: 0.3em 0;">
		                    <input type="text" placeholder="姓名" style="outline: none;font-family: Arial, '微软雅黑', sans-serif;font-size:1em;border:none;margin-left:0.3em;" />
		            	</div>
		            </div>
		            <div class="ub ub-ac uc-a1 query-input">
		                <div class="ub ub-ac ut-s" style="padding: 0.3em 0;">
		                    <input type="text" placeholder="目的地" style="outline: none;font-family: Arial, '微软雅黑', sans-serif;font-size:1em;border:none;margin-left:0.3em;" />
		            	</div>
		            </div>
		            <div class="ub ub-ac uc-a1 query-input">
		                <div class="ub ub-ac ut-s" style="padding: 0.3em 0;">
		                    <input type="text" placeholder="天数" style="outline: none;font-family: Arial, '微软雅黑', sans-serif;font-size:1em;border:none;margin-left:0.3em;" />
		            	</div>
		            </div>
	            </div>
	            <div style="margin:1em 0;">
					<div class="ub ub-ac uc-a1 query-input">
		                <div class="ub ub-ac ut-s" style="padding: 0.3em 0;">
		                    <input type="text" placeholder="联系方式" style="outline: none;font-family: Arial, '微软雅黑', sans-serif;font-size:1em;border:none;margin-left:0.3em;" />
		            	</div>
		            </div>
		            <div class="ub ub-ac uc-a1 query-input">
		                <div class="ub ub-ac ut-s" style="padding: 0.3em 0;">
		                    <input type="text" placeholder="住宿" style="outline: none;font-family: Arial, '微软雅黑', sans-serif;font-size:1em;border:none;margin-left:0.3em;" />
		            	</div>
		            </div>
	            </div>
	            <div class="ub ub-ac uc-a1 query-input" style="margin:1em 0;">
		            <div class="ub ub-ac ut-s" style="padding: 0.3em 0;">
		                <input type="text" placeholder="出行要求" style="outline: none;font-family: Arial, '微软雅黑', sans-serif;font-size:1em;border:none;margin-left:0.3em;" />
		            </div>
		        </div>
		        <div class="start uc-a1">
					<button type="submit" class="btn-start">开始旅程</button>
				</div>
			</div>
		</div>
	</div>
	<div class="tianchong"></div>
	<div class="footer ub ub-ac">
		<div class="link-footer" >
         	<h4>友情链接 LINK</h4>
         	<a href="http://www.woqu.com" class="link_a">我趣旅行网</a>
         	<a href="http://www.qyer.com" class="link_a">穷游网</a>
         	<a href="http://www.kdhcn.com" class="link_a">康定红葡萄酒</a>
         	<a href="http://vacations.ctrip.com/" class="link_a">携程旅游</a>
         	<a href="http://www.lotour.com/" class="link_a">乐途旅游</a>
         	<a href="http://www.tuniu.com/?p=1558&amp;utm_source=baidu&" class="link_a">途牛旅游网</a>
         	<a href="http://www.mangocity.com/" class="link_a">芒果网</a>
         	<a href="http://www.mafengwo.cn" class="link_a">马蜂窝旅游网</a>
         	<a href="http://www.autohome.com.cn/" class="link_a">汽车之家</a>        

        	<div class="end_line"></div>
        	<p>版权所有路尚旅游 © 2015-2017蜀ICP备14005513号</p>
    	</div>
	</div>
</body>
<script type="text/javascript" language="javascript">
	$(function(){
		$('.carousel').carousel();
	});
	$(function(){
		$(window).scroll(function(){
	    	if($(this).scrollTop()>100){
	    		$(".header").css({position:"fixed","z-index":"9999"});
	    	}else{
	    		$(".header").css({"position":"relative"});
	    	}
		});
	});
</script>
</html>